Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/Logs/LCDP.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
